In [3]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import re

In [67]:
def add_hatespeech_label(df):
    
    def assign_label(row):
        
        if row['class'] == 0:
            hate_speech = 0
        elif row['class'] == 1:
            hate_speech = 1
        else:
            hate_speech = 2
        return hate_speech

    df['hate_speech_label'] = df.apply(assign_label, axis=1)
    
    return df

In [85]:
df= pd.read_csv('labeled_data.csv')

In [86]:
df.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [87]:
df.columns

Index(['Unnamed: 0', 'count', 'hate_speech', 'offensive_language', 'neither',
       'class', 'tweet'],
      dtype='object')

In [88]:
df['class'].value_counts()

1    19190
2     4163
0     1430
Name: class, dtype: int64


hate_speech = number of CF users who judged the tweet to be hate speech.

offensive_language = number of CF users who judged the tweet to be offensive.

neither = number of CF users who judged the tweet to be neither offensive nor non-offensive.

class = class label for majority of CF users. 0 - hate speech 1 - offensive language 2 - neither

In [89]:
df_updated = add_hatespeech_label(df)

In [90]:
df_updated.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet,hate_speech_label
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...,2
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...,1
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...,1
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...,1
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...,1

In [91]:
df_updated['class'].value_counts()

1    19190
2     4163
0     1430
Name: class, dtype: int64

In [92]:
df_updated = df_updated.drop(columns=['Unnamed: 0', 'count', 'hate_speech', 'offensive_language', 'neither','class'])

In [93]:
df_updated[df_updated['hate_speech_label']==2]

                                                   tweet  hate_speech_label
0      !!! RT @mayasolovely: As a woman you shouldn't...                  2
40       " momma said no pussy cats inside my doghouse "                  2
63     "@Addicted2Guys: -SimplyAddictedToGuys http://...                  2
66     "@AllAboutManFeet: http://t.co/3gzUpfuMev" woo...                  2
67     "@Allyhaaaaa: Lemmie eat a Oreo &amp; do these...                  2
...                                                  ...                ...
24736  yaya ho.. cute avi tho RT @ViVaLa_Ari I had no...                  2
24737  yea so about @N_tel 's new friend.. all my fri...                  2
24767  you know what they say, the early bird gets th...                  2
24779  you've gone and broke the wrong heart baby, an...                  2
24782  ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...                  2

[4163 rows x 2 columns]

In [113]:
def filter_hatespeech_tweets(df):
    
    def filter_tweets(tweet):
        return re.sub('@.*\:|!*|@\w+|&#[0-9]*;|#\w+|RT|\/\/t.co\/\w+|&gt|&lt', '', tweet)

    def postprocess_filter_tweets(tweet):
        
        return df
    df['tweet'] = df['tweet'].str.strip()
    df['tweet'] = df['tweet'].apply(filter_tweets)
    df.replace("", np.nan, inplace=True)
    df = df.dropna()
    
    return df

In [114]:
df_updated1 = filter_hatespeech_tweets(df_updated)

In [115]:
df_updated1.head()

                                               tweet  hate_speech_label
0     As a woman you shouldn't complain about cle...                  2
1     boy dats cold...tyga dwn bad for cuffin dat...                  1
2     You ever fuck a bitch and she start to cry?...                  1
3                             she look like a tranny                  1
4     The shit you hear about me might be true or...                  1

In [116]:
df_updated1['hate_speech_label'].value_counts()

1    19095
2     4133
0     1425
Name: hate_speech_label, dtype: int64

In [117]:
df_updated1.to_csv("filtered_tweets_3categ.csv")

In [92]:
df_movie = pd.read_csv("blackkklansman.csv")

In [94]:
df_movie.head()

   Unnamed: 0                          0
0           0  ﻿Have you seen Dr. Meade?
1           2                 Dr. Meade!
2           4        Oh, can you help me
3           5            find Dr. Meade?
4           7              God, help us.

Convert Fox news dataset

In [138]:
import os
import pandas as pd

df = pd.DataFrame(columns=['text','label'])
count=0
for filename in os.listdir('fox/'):
    if filename.endswith(".txt"):
        f = open('fox/'+filename, 'r', encoding='utf-8')
        txt = f.readlines()
        for t in txt:
            mat = re.findall(r'(\d)\:(.*)',t)
            df.loc[len(df.index)] = [mat[0][1],mat[0][0]]

In [109]:
df.to_csv('fox_h.csv')

Filter subtitles to receive complete sentences

In [140]:
df = pd.read_csv("Mrs_Doubtfire1.csv")

In [141]:
df.head()

   Unnamed: 0                                               0
0           4         Figaro, Figaro, Figaro, Figaro, Figaro,
1           5  Figaro, Figaro, Figaro, Figaro, Figaro, Figaro
2           7                                 Figaro! Son qua
3           9                                 Figaro! Son qua
4          11   Figaro qua, Figaro là, Figaro qua, Figaro là,

In [142]:
txt = df['0'].values

In [143]:
txt1=txt[10:20]

In [144]:
sent = ''
new_l = []
for t in txt:
    if t[-1] not in ['.','?','!']:
        sent+=t+' '
    else:
        sent+=t
        new_l.append(sent)
        sent = ''
        
df = pd.DataFrame(columns=['sentences'])
df['sentences'] = new_l
df.head()

                                           sentences
0  Figaro, Figaro, Figaro, Figaro, Figaro, Figaro...
1  Ah bravo Figaro, bravo bravissimo, ah bravo Fi...
2                                Salutations, snack.
3                           Yipe. On second thought.
4                                            Yiiipe!

In [145]:
df.to_csv('mrsDoubtfire_cleansed.csv')