In [17]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import re

In [3]:
def add_hatespeech_label(df):
    
    def assign_label(row):
        
        if row['class'] == 0:
            hate_speech = 1
        else:
            hate_speech = 0
        return hate_speech

    df['hate_speech_label'] = df.apply(assign_label, axis=1)
    
    return df

In [4]:
df= pd.read_csv('labeled_data.csv')

In [5]:
df.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [7]:
df.columns

Index(['Unnamed: 0', 'count', 'hate_speech', 'offensive_language', 'neither',
       'class', 'tweet'],
      dtype='object')

In [81]:
df_updated = add_hatespeech_label(df)

In [82]:
df_updated.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet,hate_speech_label
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...,0
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...,0
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...,0
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...,0
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...,0

In [83]:
df_updated = df_updated.drop(columns=['Unnamed: 0', 'count', 'hate_speech', 'offensive_language', 'neither','class'])

In [84]:
df_updated.head()

                                               tweet  hate_speech_label
0  !!! RT @mayasolovely: As a woman you shouldn't...                  0
1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...                  0
2  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...                  0
3  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...                  0
4  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...                  0

In [86]:
def filter_hatespeech_tweets(df):
    
    def filter_tweets(tweet):
        return re.sub('@.*\:|!*|@\w+|&#[0-9]*;|#\w+|RT|\/\/t.co\/\w+|&gt|&lt', '', tweet)

    def postprocess_filter_tweets(tweet):
        
        return df

    df['tweet'] = df['tweet'].apply(filter_tweets)
    df.replace("", np.nan, inplace=True)
    df = df.dropna()
    
    return df

In [87]:
df_updated1 = filter_hatespeech_tweets(df_updated)

In [88]:
df_updated1.head()

                                               tweet  hate_speech_label
0     As a woman you shouldn't complain about cle...                  0
1     boy dats cold...tyga dwn bad for cuffin dat...                  0
2     You ever fuck a bitch and she start to cry?...                  0
3                             she look like a tranny                  0
4     The shit you hear about me might be true or...                  0

In [89]:
df_updated1.to_csv("filtered_tweets.csv")

In [92]:
df_movie = pd.read_csv("blackkklansman.csv")

In [94]:
df_movie.head()

   Unnamed: 0                          0
0           0  ﻿Have you seen Dr. Meade?
1           2                 Dr. Meade!
2           4        Oh, can you help me
3           5            find Dr. Meade?
4           7              God, help us.

Convert Fox news dataset

In [138]:
import os
import pandas as pd

df = pd.DataFrame(columns=['text','label'])
count=0
for filename in os.listdir('fox/'):
    if filename.endswith(".txt"):
        f = open('fox/'+filename, 'r', encoding='utf-8')
        txt = f.readlines()
        for t in txt:
            mat = re.findall(r'(\d)\:(.*)',t)
            df.loc[len(df.index)] = [mat[0][1],mat[0][0]]

In [109]:
df.to_csv('fox_h.csv')

Filter subtitles to receive complete sentences

In [140]:
df = pd.read_csv("Mrs_Doubtfire1.csv")

In [141]:
df.head()

   Unnamed: 0                                               0
0           4         Figaro, Figaro, Figaro, Figaro, Figaro,
1           5  Figaro, Figaro, Figaro, Figaro, Figaro, Figaro
2           7                                 Figaro! Son qua
3           9                                 Figaro! Son qua
4          11   Figaro qua, Figaro là, Figaro qua, Figaro là,

In [142]:
txt = df['0'].values

In [143]:
txt1=txt[10:20]

In [144]:
sent = ''
new_l = []
for t in txt:
    if t[-1] not in ['.','?','!']:
        sent+=t+' '
    else:
        sent+=t
        new_l.append(sent)
        sent = ''
        
df = pd.DataFrame(columns=['sentences'])
df['sentences'] = new_l
df.head()

                                           sentences
0  Figaro, Figaro, Figaro, Figaro, Figaro, Figaro...
1  Ah bravo Figaro, bravo bravissimo, ah bravo Fi...
2                                Salutations, snack.
3                           Yipe. On second thought.
4                                            Yiiipe!

In [145]:
df.to_csv('mrsDoubtfire_cleansed.csv')