In [3]:
import re
import numpy as np
import zipfile
import pandas as pd
import glob

In [269]:
df = pd.DataFrame(columns=['utterance','movie_name'])

In [270]:
df.head()

Empty DataFrame
Columns: [dialog, movie_name]
Index: []

In [271]:
df = pd.DataFrame(columns=['index','utterance','movie_name','tag', 'count_utterances'])

In [5]:
count=0
for folder in ['friendship/','hate_speech/','racism/']:
    for filename in glob.glob('movie_subtitles_text/'+folder+'*.csv'):
        df_temp = pd.read_csv(filename)
        df_temp = df_temp.rename(columns={"dialog": "utterance"}, errors="raise")
        df_temp['movie_name'] = re.findall(r'movie_subtitles_text\/.*\\(.*)_conv\.csv', filename)[0]
        df_temp['tag'] = folder[:-1]
        df_temp['index'] = range(0, len(df_temp))
        df_temp['count_utterances'] = df_temp.shape[0]
        df = df.append(df_temp)
        count+=len(df_temp)

In [13]:
df.head()

,index,utterance,movie_name,tag,count_utterances
0,0,I got here as fast as legally possible.,1917,friendship,1480
1,1,Do you have my will?,1917,friendship,1480
2,2,"Yes, sir.",1917,friendship,1480
3,3,I think we should take him to the hospital.,1917,friendship,1480
4,4,"No, George wants to stay at home.",1917,friendship,1480

In [7]:
df['movie_name'].value_counts()

The Wolf of Wall Street             3695
Goodfellas                          2635
The Big Sick                        2615
BlacKkKlansman                      2539
Mike and Dave Need Wedding Dates    2513
                                    ...
Hamilton                             275
Legends of the Fall                  212
The Intruder                         159
Iron Man                              83
Avatar                                77
Name: movie_name, Length: 252, dtype: int64

In [8]:
df['tag'].value_counts()

friendship     167831
racism         165296
hate_speech     27952
Name: tag, dtype: int64

In [9]:
df=df.drop(columns=['Unnamed: 0'])

In [10]:
len(df)

361079

In [11]:
count

361079

In [12]:
df.to_csv("all_movies_combined.csv")