In [1]:
import os
import pandas as pd

In [2]:
pathes = ['movies/racism', 'movies/hate_speech', 'movies/friendship']

In [8]:
def movie_data_cleansing(df):
    df = df.replace(r'\\... ', '', regex=True)
    df = df.replace(r'<.*?>', '', regex=True)
    return df

In [9]:
def get_movie_vocabulary(pathes):
    result = []
    for path in pathes: 
        directory = os.fsencode(path)

        for file in os.listdir(directory):
            filename = os.fsdecode(file)

            if filename.endswith(".csv"):
                #print(os.path.join(directory, filename))
                #local_df = read_content(path + '//' + filename)
                movie_df = pd.read_csv(path + '//' + filename)
                movie_df = movie_data_cleansing(movie_df)
                tag = path.split('/')[1]
                count_utterances = movie_df.shape[0]
                utterances = movie_df.dialog.values
                
                for i in range(0, len(utterances)):
                    result.append({'movie_name': filename[:-9], 'index': i, 'utterance': utterances[i], 'count_utterances': count_utterances, 'tag': tag})
    result_df = pd.DataFrame(result)
    return result_df

In [10]:
movie_vocabulary = get_movie_vocabulary(pathes)

In [11]:
movie_vocabulary

,movie_name,index,utterance,count_utterances,tag
0,12 Angry Men,0,"Thank you very much, sir.",2065,racism
1,12 Angry Men,1,You did a wonderful job. Wonderful.,2065,racism
2,12 Angry Men,2,Shh. Shh.,2065,racism
3,12 Angry Men,3,"We did it, Pete. We did it.",2065,racism
4,12 Angry Men,4,"For a moment, we had our doubts.",2065,racism
...,...,...,...,...,...
359031,You,1767,Shardae my wife I love you.,1772,friendship
359032,You,1768,And this song I do tonight is dedicated to you.,1772,friendship
359033,You,1769,He's no stranger to the stage and he's arisen...,1772,friendship
359034,You,1770,"He'll be performing his hot, new single, Love ...",1772,friendship
359035,You,1771,Give it up for Will Clay.,1772,friendship

In [13]:
movie_vocabulary[movie_vocabulary.movie_name=='12 Years a Slave']

,movie_name,index,utterance,count_utterances,tag
2065,12 Years a Slave,0,OVERSEER: All right now.,110,racism
2066,12 Years a Slave,1,Y'all fresh niggers. Y'all gonna be in a cutti...,110,racism
2067,12 Years a Slave,2,Thank you for the music. Come on.,110,racism
2068,12 Years a Slave,3,Ouch. Get in there.,110,racism
2069,12 Years a Slave,4,"Come on. Give me a kiss. I love you, Margaret....",110,racism
...,...,...,...,...,...
2170,12 Years a Slave,105,Margaret and Alonzo. What was your wife's name...,110,racism
2171,12 Years a Slave,106,"I am who I say. Where you going, Platt? Who au...",110,racism
2172,12 Years a Slave,107,"Platt! You come back here, boy. Boy. You unhan...",110,racism
2173,12 Years a Slave,108,Platt is my nigger! He is Mr. Solomon Northup....,110,racism
2174,12 Years a Slave,109,"Unhand him. I know you had some hand in this, ...",110,racism

In [14]:
movie_vocabulary.to_csv('all_movies.csv')

In [15]:
movie_vocabulary.head()

,movie_name,index,utterance,count_utterances,tag
0,12 Angry Men,0,"Thank you very much, sir.",2065,racism
1,12 Angry Men,1,You did a wonderful job. Wonderful.,2065,racism
2,12 Angry Men,2,Shh. Shh.,2065,racism
3,12 Angry Men,3,"We did it, Pete. We did it.",2065,racism
4,12 Angry Men,4,"For a moment, we had our doubts.",2065,racism

In [16]:
movie_vocabulary.groupby('movie_name').count_utterances.max().sort_values()

movie_name
Avatar                                77
The Invisible Man                     78
Iron Man                              83
12 Years a Slave                     110
The Intruder                         159
                                    ...
Mike and Dave Need Wedding Dates    2513
BlacKkKlansman                      2539
The Big Sick                        2615
Goodfellas                          2635
The Wolf of Wall Street             3695
Name: count_utterances, Length: 252, dtype: int64

In [32]:
len(movie_vocabulary.movie_name.unique())

252